* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/img/fon2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
html {
  color: #cae00d;
}
section {
  padding: 10px;
}
h1 {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 30px;
}
span {
  color: rgb(252, 9, 171);
  font-size: 30px;
}

.pre-div {
  max-width: 900px;
  width: 100%;
  border: 5px solid #cae00d;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}
.pre-div pre {
  font-size: 20px;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
header {
  background-color: rgba(81, 22, 218, 0.47);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#menu {
  display: flex;
}

#menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

#menu ul li a {
  color: rgb(180, 165, 76);
  font-size: 20px;
}

#menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: rgb(180, 165, 76);
  margin: 5px 0;
}

#menu.active ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(81, 22, 218, 1);
  top: 110px;
  left: 0;
  width: 100%;
}

.logo {
  padding-left: 50px;
}
.logo img {
  width: 60px;
  height: 60px;
}

.cook-img,
.picture,
.local-img,
.text-img,
.consul-img {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 0 auto;
}
.cook-img img,
.picture img,
.local-img img,
.text-img img,
.consul-img img {
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  border: 10px solid #cae00d;
}
div.container {
  text-align: center;
}

figure {
  display: block;
}
figure img {
  display: block;
  width: 80%;
  height: auto;
}
figcaption p {
  text-align: center;

  color: #cae00d;
  font-size: large;
  padding: 10px;
}
button {
  display: block;
  width: 300px;
  height: 60px;
  background-color: rgba(81, 22, 218, 0.47);
  border-radius: 67px;
  border: 5px solid rgba(81, 22, 218, 0.47);
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #cae00d;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
}
#yazi {
  background-color: rgba(81, 22, 218, 0.47);
  border: 5px solid rgba(81, 22, 218, 0.47);
  color: #cae00d;
  width: 300px;
  height: 60px;
}
.box-info {
  display: flex;
  padding: 30px;
}
.coxluq-info {
  padding: 30px;
}
#text {
  max-width: 500px;
  height: auto;
  width: 100%;
  background-color: rgba(81, 22, 218, 0.47);
  color: #cae00d;
}

@media screen and (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #menu ul {
    display: none;
  }

  #menu ul li {
    margin: 15px 0;
  }

  #menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle.active .hamburger:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 5px;
  }

  #menu-toggle.active .hamburger:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -17px;
  }
}
